## Working with the DataBase: VENPAYBI

### The Table BiTXEnqueuers

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

sys.path.insert(1, r'C:\Users\AdebanjiAdelowo\OneDrive - N-and Group Ltd\Documents\N-ANDITALIA\Private')
import securitydetail

In [2]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

First establish connection to the database using python

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server =  securitydetail.server
database =  securitydetail.database 
username = securitydetail.username
password = securitydetail.password    

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

In [4]:
query = """
        SELECT TOP (1000) [PK_BiTXEnqueuerId]
      ,[Hostname]
      ,[EnqueuerName]
      ,[QueueName]
      ,[LastKpi]
        FROM [VENPAY-BI].[dbo].[BiTXEnqueuers]
"""

df_bitx = pd.read_sql(query, engine)
df_bitx.head()

,PK_BiTXEnqueuerId,Hostname,EnqueuerName,QueueName,LastKpi
0,2,conn01,BiTXSQSEn1,Demobitx_Test,2023-07-27 15:40:00
1,3,conn01,BiTXSQSEn1,VegaSQS_DAI,2023-07-27 15:40:00
2,4,conn01,BiTXSQSEn1,VegaSQS_EOS,2023-07-27 15:40:00
3,5,conn01,BiTXSQSEn1,VegaSQS_GESAIVSItalia_0,2023-01-24 12:50:00
4,6,conn01,BiTXSQSEn1,VegaSQS_LIOMATIC,2023-07-27 15:40:00